body{
    background-color: rgb(169, 132, 172);
   
}

.navbar{
    background-color:rgb(129, 112, 112);
    font-family:fantasy;
    border-style: groove;
    
    
    
   
}

a:hover{
    color: white;
}

.navbar-brand{
   color: black;
}

.nav-link{
    color: black;
}

.nav-link:hover{
    color: white;

}

.sidenav {
    height: 247%;
    width: 160px;
    position:fixed;
    z-index: 1;
    top: 20;
    left: 0;
    background-color: rgb(129, 112, 112);
    overflow-x: hidden;
    padding-top: 20px;
    border-style: groove; 
    
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    font-family:fantasy;
    
  }
  
  .sidenav a:hover {
    color:black;
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


.bordeado{
  text-align: center;
  border-style:dotted;
  border-color: aliceblue;
  
}

.noticias{
  text-align: center;
  background-color: gray;
  margin-left: 170px;
  margin-right: 50px;
}

.noticia1{
  background-color: #2E2E2E;
  color: white;
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 100px;
  text-align: left;
}

.articulo01{
  background-color:white;
  color: black;
  margin-left: 10px;
  margin-right: 10px;
  text-align: justify;
  top: 20px;
  
 
}
.page-footer{
    background-color: #3F729B;
    
}